html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans SC', sans-serif;
  }

  body > *{
    font-family: 'Noto Sans SC', sans-serif;
  }

  button {
    font-family: 'Noto Sans SC', sans-serif;
    cursor: pointer;
  }

/*To secure correct behavoir in older browsers*/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../assets/images/pics/foto.jpg") 60%;
    background-size: cover;
  }

 main {
   padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 200px;
    background: yellow;
 } 

.bg {
    /* The image used */
    background-image: url("../assets/images/pics/foto.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

li {
    list-style: none;
}


header {
    background: rosybrown;
}

.head {
    height: 60px;
    background: #f5f4ee;
}

span#icon-cart-count {
  font-size: 15px;
  position: relative;
  left: 3px;
  top: -19px;
}


/* Breadcrumb Styles */
.breadcrumb ul {
  margin: 0;
  padding: 10px 16px;
  list-style: none;
}
.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: #5c432e;
  content: ">";
}
.breadcrumb li a {
  color: #5c432e;
  padding: 2px 25px;
  border-radius: 20px;
  background: #ebe9db;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.breadcrumb li a:hover {
  color: #000;
  text-decoration: none;
}

h3.categories__title {
  padding: 0 8%;
  font-weight: 400;
  font-size: 1.5rem;
  color: #5c432e;
}

.breadcrumb li:first-child a {
  background: #58594f;
  color: #fff;
  font-weight: 300;
}



.search-container button {
  background: #dd7467;
  padding: 9px 15px 4px 20px;
  float: left;
  border: none;
  border-radius: 20px 0px 0px 20px;
}

#navbar #main-menu {
  float: left;
}

#navbar {
    overflow: hidden;
    background-color: #f5f4ee;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50,50,50,.5); 
    box-shadow: 0px 5px 5px 0px rgba(50,50,50,.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 60px;
  }

  header .logo {
    float: left;
    padding: 5px 10px;
}

header .icons {
  float: right;
}

header .logo img {
  width: 195px;
}

.icons {
  position: fixed;
  z-index: 2;
  right: 0px;
  padding: 0 10px;
  top: 10px;
}

  #navbar .icon {
    display: none;
  }

#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

input[type="text"] {
  font-weight: 200;
  color: #5c432e;
}

input:focus::-webkit-input-placeholder
{
    color: #fff;
}

.search-container {
  position: fixed;
  padding: 0 10px;
  top: 10px;
  z-index: 2;
  left: 32%;
  width: 60%;
}

.search-container.sticky {
  top: 4px;
  position: fixed;
}

.icons.sticky {
  top: 8px;
  position: fixed;
}

/* Icons Styles */


#main-menu .icon-icon-pie {
  display: inline-block;
}

.icons div {
  float: left;
}

#iconsContainer .icon {
  font-size: 26px;
  padding: 0 6px 0 0;
}

.icons .icon-icon-favorite {
  color: #d75a4a;
}
.icons .icon-icon-truck {
  color: #b28c71;
}
.icons .icon-shopping-cart {
  color: #d75a4a;
}
.icons .icon-icon-user {
  color: #b5b5b0;
}
.icons .dark {
  color: #655f5b;
}
.icons .light {
  color: #c7c5b5;
}
.search-container .icon-magnifier-tool {
  width: 20px;
  height: 29px;
  font-size: 24px;
  color: #fff;
  padding-top: 3px;
}


/* Logo Styles */
.logo img {
  width: 230px;
}

/* Products Styles */

.producto {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
}

.producto__container {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  padding-bottom: 10px;
}

.producto__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  margin-left: 4rem;
}



.producto-item {
  border-radius: 20px;
  overflow: hidden;
  width: 190px;
  height: 190px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  border: 1px solid #fff;
  background: #f3f4f3;
  margin: 0 auto;
  text-align: center;
}

.producto-item:hover {
  border: 1px solid #d75a4a;
  background: #fff;
}


.producto__container:hover .producto-item {
  opacity: 0.8;
}

.producto__container:hover .producto-item:hover {
  -webkit-transform: translate(-20px) scale(1.15);
          transform: translate(-20px) scale(1.15);
  opacity: 1;
}

.producto-item:hover ~ .producto-item {
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
}



.producto-item__img {
  height: 100px;
  mix-blend-mode: multiply;
  max-width: 130px;
}

.producto-item__title {
  font-size: 14px;
  margin-bottom: 0;
  padding: 0 10px;
  white-space: normal;
  line-height: 16px;
  color: #5c432e;
}

.producto-item__cart {
  opacity: 0;
}
.producto-item:hover .producto-item__cart {
  opacity: 1;
}
.producto-item__subtitle {
  opacity: 1;
}
.producto-item:hover .producto-item__subtitle {
  opacity: 0;
}


.producto-item .icon-shopping-cart {
  opacity: 1;
  margin-top: -142px;
  margin-left: 158px;
  color: #d75a4a;
}

.producto-item .icon.icon-shopping-cart {
  font-size: 20px;
}

.producto-item__subtitle--price {
  font-weight: 600;
  color: #5c432e;
  padding: 2px 10px;
  float: left;
}
.producto-item__subtitle--sale {
  float: right;
  background: #d75a4a;
  padding: 2px 10px;
  border-radius: 15px;
  color: #fff;
  margin-right: 10px;
}

button.producto-item__cart--btn {
  margin-left: -50px;
  margin-top: 125px;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  background: #d75a4a;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 85%;
}

p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.producto-item .sale {
  font-weight: 300;
  text-decoration: line-through;
}

.search-container input[type=text] {
  border-radius: 0 20px 20px 0px;
  padding: 8px;
  font-size: 20px;
  border: none;
  width: 50%;
}


input[type="text"]:focus {
  outline-offset: 0;
  outline: 0;
  /* box-shadow: 0 1px 4px #ff7c7c, 0 0 0 5px #ffffffeb; */
  background: #dd7467;
  color: #fff;
}

  #navbar a {
    float: left;
    display: block;
    color: #5c432e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
  }
  
  #navbar a:hover {
    background-color: #fafafa;
    color: black;
  }
  
  #navbar a.active {
    background-color: #56584c;
    color: white;
  }

  #navbar a:first-child {
    display: none;
  } 


  .search-container input[type=text] {
    border-radius: 0 20px 20px 0px;
    padding: 8px;
    font-size: 20px;
    border: none;
    width: 50%;
    font-weight: 200;
    font-family: 'Noto Sans SC', sans-serif;
}


main {
    background: #ffffff;
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    color: white;
}

footer li {
    font-weight: 100;
    font-size: 13px;
    line-height: 22px;
}

footer .content {
    background: #56584c;
    min-height: 300px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 100px;
            perspective: 100px;    
}

footer .content:before {
    -webkit-animation: fade 30s ease-out 1s infinite alternate forwards;
            animation: fade 30s ease-out 1s infinite alternate forwards; 
            
            
    background: url(../assets/images/bg.png);
    background: url(../assets/images/bg.png);             
    overflow: hidden;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;  
}

footer .content:after {
    background: #56584c;
    overflow: hidden;
    content: "";

    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 0;
}

footer .map {
    padding: 50px 0;
}

footer .map img {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #aaa;
}

footer .icon-icon-logotipo {
  font-size: 225px;
  line-height: 0;
  margin-top: 44px;
  margin-bottom: 29px;
}

footer .img-logo {
  filter: brightness(10);
}
footer .logo {
  margin: 0.27em 0 0 0;
}


/* FLEX PATTERN */
.flex-grid {
    display: flex;
    align-items: stretch;
    justify-content: center;    
  }
.col {
    flex: 1;
    padding: 30px 50px 50px 50px;
}

.logomini .icon.icon-icon-logo {
  font-size: 66px;
  display: none;
}



/* Mobile */


  @media screen and (max-width: 860px) {

    #navbar .icon.icon-icon-pie {
      top: 20px;
      right: 10px;
      position: fixed;
    }
 

    #navbar .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }



    #navbar.responsive {position: relative;}
    #navbar.responsive .icon {
      position: absolute;
      left: 0;
      top: 0;
    }
    #navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }



    #navbar a {
      float: none;
  }
    #navbar a.icon {
      float: right;
      display: block;
    }  


    #navbar a:not(:first-child) {
      display: none;
    } 



    #navbar a.icon {
      float: right;
      display: block;
    } 
    a.icon {
      position: absolute;
      right: -10px;
      top: 0;
    }  
    #navbar a:first-child {
 
        display: block;
    } 
   
  


  #main-menu .icon-icon-pie {
    display: inline-block;
    /* float: left; */
}

#navbar .icon {
  display: block;
}

#navbar .icon.icon-icon-logo {
  display: block;
  visibility: hidden;
}

.icons {
  position: fixed;
  z-index: 2;
  right: 25px;
  padding: 0 0px;
  top: 14px;
}

.producto__container {
  margin-left: 0rem;
}
    
  }


  
  @media screen and (max-width: 600px) {

    .producto__container {
      margin-left: 0rem;
    }

    .logomini .icon.icon-icon-logo {
      font-size: 66px;
      display: inline-block;
      color: #d75a4a;
      line-height: 0;
      margin-top: 32px;
  }
  .logomini {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 1;
    background: #f5f4ee;
    box-shadow: 0px 5px 5px 0px rgba(50,50,50,.5);
}

.search-container input[type=text] {
  width: 70%;
}
    #navbar .icon.icon-icon-pie {
      top: 20px;
      right: 10px;
      position: fixed;
    }
    #navbar .icon.icon-icon-logo {
      display: block;
      position: fixed;
      font-size: 56px;
      top: -5px;
      left: 5px;
  }



    #navbar.sticky {
      top: 0px;
  }

    header .logo {
      display: none;
  }

.search-container {
  left: 12%;
  width: 360px;
}




    .flex-grid {
      display: block;
    }
    .col {
        padding: 30px 50px 0px 50px;
    }
    footer .map {
        padding: 10px 0;
    }   
    #navbar a:first-child {
        visibility: visible;
        padding: 0px;
        margin-left: 3px; 
        display: block;
    }     
    
  }



  @media screen and (max-width: 860px) and (orientation: portrait) {


    .icons.sticky, .icons {
        top: 80px;
        right: -8px;
        padding: 15px 6px 15px 6px;
        width: 30px;
        background: #f5f4ee;
        border-radius: 20px 0 0 20px;
        border: 1px solid #c9c6b6;
        box-shadow: 2px 1px 2px 2px rgba(50,50,50,.5);
    }

    .producto__container {
        margin-left: 0rem;
    }

  }
  
  @media screen and (max-width: 600px) and (orientation: portrait) {

    .producto__container {
      margin-left: 0rem;
    }


    .search-container input[type=text] {
      width: 55%;
  }
    .icons.sticky, .icons {
        top: 80px;
        right: -1px;
        padding: 15px 0px 15px 6px;
        width: 30px;
        background: #f5f4ee;
        border-radius: 20px 0 0 20px;
        border: 1px solid #c9c6b6;
        box-shadow: 2px 1px 2px 2px rgba(50,50,50,.5);
    }

  } 
/* Animations */

@-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    10% {
        opacity: .6;
    }
    100% {
        opacity: .2;
    }
  }
  
  @keyframes fade {
    0% {
        opacity: 0;
      }
    10% {
          opacity: .6;
      }
    100% {
          opacity: .2;
      }
  }
