header .logo {
    float: left;
    padding: 5px 10px;
  }
  
  header .icons {
    float: right;
  }
  
  header .logo img {
    width: 195px;
  }


header {
    background: rosybrown;
}

.head {
    height: 60px;
    background: #f5f4ee;
}
  