/*********************************** NOTFOUND STYLES  **************************************/
.notfound .logo img {
    width: 230px;
    filter: brightness(7);
    opacity: .7;
  }

  .notfound .notfound__container img {
    mix-blend-mode: multiply;
}

.notfound__container {
    background-color: #dbdbd4;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #56584c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 380px;
    padding: 60px 68px 40px;
    width: 40%;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;    
}

.notfound ~ footer {
  display: none;
}