html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans SC', sans-serif;
  }

/*To secure correct behavoir in older browsers*/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../assets/images/pics/foto.jpg") 60%;
    background-size: cover;
  }

 main {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 200px;
    background: yellow;
 } 

.bg {
    /* The image used */
    background-image: url("../assets/images/pics/foto.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

li {
    list-style: none;
}


header {
    background: rosybrown;
}

.head {
    height: 60px;
    background: #f5f4ee;
}

.search-container button {
  background: #dd7467;
  padding: 5px 10px 5px 25px;
  float: left;
  border: none;
  border-radius: 20px 0px 0px 20px;
}

#navbar #main-menu {
  float: left;
}

#navbar {
    overflow: hidden;
    background-color: #f5f4ee;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50,50,50,.5); 
    box-shadow: 0px 5px 5px 0px rgba(50,50,50,.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 60px;
  }

  header .logo {
    float: left;
}

header .icons {
  float: right;
}

.icons {
  position: fixed;
  z-index: 2;
  right: 0px;
  padding: 0 10px;
  top: 10px;
}

  #navbar .icon {
    display: none;
  }

#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 #navbar.sticky + main {
    padding-top: 60px;
  }

input[type="text"] {
  font-weight: 200;
  color: #5c432e;
}

input:focus::-webkit-input-placeholder
{
    color: #fff;
}

.search-container {
  position: fixed;
  padding: 0 10px;
  top: 10px;
  z-index: 2;
  left: 32%;
  width: 60%;
}

.search-container.sticky {
  top: 6px;
  position: fixed;
}

.icons.sticky {
  top: 15px;
  position: fixed;
}

.search-container input[type=text] {
  border-radius: 0 20px 20px 0px;
  padding: 8px;
  font-size: 20px;
  border: none;
  width: 50%;
}

input[type="text"]:focus {
  outline-offset: 0;
  outline: 0;
  /* box-shadow: 0 1px 4px #ff7c7c, 0 0 0 5px #ffffffeb; */
  background: #dd7467;
  color: #fff;
}

  #navbar a {
    float: left;
    display: block;
    color: #5c432e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
  }
  
  #navbar a:hover {
    background-color: #fafafa;
    color: black;
  }
  
  #navbar a.active {
    background-color: #56584c;
    color: white;
  }




.search-container input[type=text] {
  border-radius: 0 20px 20px 0px;
  padding: 8px;
  font-size: 20px;
  border: none;
  width: 50%;
}

nav  {
    background: #f5f4ee;
}

main {
    background: #ffffff;
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    color: white;
}

footer li {
    font-weight: 100;
    font-size: 13px;
    line-height: 22px;
}

footer .content {
    background: #56584c;
    min-height: 300px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 100px;
            perspective: 100px;    
}

footer .content:before {
    -webkit-animation: fade 30s ease-out 1s infinite alternate forwards;
            animation: fade 30s ease-out 1s infinite alternate forwards; 
            
            
    background: url(../assets/images/bg.png);
    background: url(../assets/images/bg.png);             
    overflow: hidden;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;  
}

footer .content:after {
    background: #56584c;
    overflow: hidden;
    content: "";

    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 0;
}

footer .map {
    padding: 50px 0;
}

footer .map img {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #aaa;
}


/* FLEX PATTERN */
.flex-grid {
    display: flex;
    align-items: stretch;
    justify-content: center;    
  }
.col {
    flex: 1;
    padding: 30px 50px 50px 50px;
}


/* Mobile */

@media (max-width: 600px) {
     
  }

  @media screen and (max-width: 860px) {


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

    #navbar.responsive {position: relative;}
    #navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }



    #navbar a {
      float: none;
  }
    #navbar a.icon {
      float: right;
      display: block;
    }  


    #navbar a:not(:first-child) {
      display: none;
    } 
    #navbar a.icon {
      float: right;
      display: block;
    } 
    a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }    
    
  }
  
  @media screen and (max-width: 600px) {

    header .logo {
      display: none;
  }
  #navbar {
    top: 10px;
} 

.search-container {
  left: 15%;
  width: 60%;
}


    .flex-grid {
      display: block;
    }
    .col {
        padding: 30px 50px 0px 50px;
    }
    footer .map {
        padding: 10px 0;
    }       
  }

/* Animations */

@-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    10% {
        opacity: .6;
    }
    100% {
        opacity: .2;
    }
  }
  
  @keyframes fade {
    0% {
        opacity: 0;
      }
    10% {
          opacity: .6;
      }
    100% {
          opacity: .2;
      }
  }
