<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main2.css">
    <link rel="stylesheet" type="text/css" href="styles/iconos.css">
</head>
<body>
  <div id="searchContainer" class="search-container">
    <form action="">
      <button type="submit"><div class="icon icon-magnifier-tool"></div></button>
      <input type="text" placeholder="Busca tu mueble..." name="search">
    </form>
  </div>  
  <div id="iconsContainer" class="icons">
      <!-- <div class="icon icon-icon-truck"></div>
      <div class="icon icon-icon-favorite"></div> -->
      <div class="icon icon-shopping-cart"><span id="icon-cart-count" class="icon-cart-count">10</span></div>
      <div class="icon icon-icon-user"></div>
      <div class="icon icon-icon-swatch dark"></div>
      <div class="icon icon-icon-swatch light"></div>
  </div>
  <div class="logomini"><div class="icon icon-icon-logo"></div></div>    
  <header class="image">    
    <div class="head">
      <div class="logo"><img src="assets/images/icon-logotipo.svg"/></div>
    </div>
  </header>
  
  <div id="navbar">
      <div class="topnav" id="main-menu">
    <a href="javascript:void(0);" class="icon" onclick="hideMenuElements()"><div class="icon icon-icon-pie"></div></a>  
    <a href="#">Sala</a>
    <a href="#">Comedor</a>
    <a href="#">Recamaras</a>
      </div>

  </div>

 
  <main>
      <nav>
          <div class="breadcrumb">
            <ul>
              <li><a href="#">Sala</a></li>
              <li><a href="#">Sillones</a></li>
              <li><a href="#">Sofas</a></li>
            </ul>
          </div>
      </nav> 

    <h3 class="categories__title">Salas</h3>
    <section class="producto">
      <div class="producto__container">

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-0.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>
    
        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-1.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>
    
        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-2.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-3.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-4.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-5.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price sale">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

      </div>
    </section>

    <h3 class="categories__title">Comedores</h3>
    <section class="producto">
        <div class="producto__container">
  
          <div class="producto-item">
            <img class="producto-item__img" src="assets/images/pics/sm/item_image-0.jpg" alt="">
            <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
            <div class="producto-item__subtitle">
              <p class="producto-item__subtitle--price">$3,200</p>
              <p class="producto-item__subtitle--sale">$1,000</p>
            </div>
            <div class="producto-item__cart">
              <div>
                <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
                <button class="producto-item__cart--btn">Agregar al carrito</button> 
              </div>
            </div>
          </div>
      
          <div class="producto-item">
            <img class="producto-item__img" src="assets/images/pics/sm/item_image-1.jpg" alt="">
            <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
            <div class="producto-item__subtitle">
              <p class="producto-item__subtitle--price">$3,200</p>
              <p class="producto-item__subtitle--sale">$1,000</p>
            </div>
            <div class="producto-item__cart">
              <div>
                <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
                <button class="producto-item__cart--btn">Agregar al carrito</button> 
              </div>
            </div>
          </div>
      
          <div class="producto-item">
            <img class="producto-item__img" src="assets/images/pics/sm/item_image-2.jpg" alt="">
            <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
            <div class="producto-item__subtitle">
              <p class="producto-item__subtitle--price">$3,200</p>
              <p class="producto-item__subtitle--sale">$1,000</p>
            </div>
            <div class="producto-item__cart">
              <div>
                <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
                <button class="producto-item__cart--btn">Agregar al carrito</button> 
              </div>
            </div>
          </div>
  
          <div class="producto-item">
            <img class="producto-item__img" src="assets/images/pics/sm/item_image-3.jpg" alt="">
            <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
            <div class="producto-item__subtitle">
              <p class="producto-item__subtitle--price">$3,200</p>
              <p class="producto-item__subtitle--sale">$1,000</p>
            </div>
            <div class="producto-item__cart">
              <div>
                <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
                <button class="producto-item__cart--btn">Agregar al carrito</button> 
              </div>
            </div>
          </div>
  
          <div class="producto-item">
            <img class="producto-item__img" src="assets/images/pics/sm/item_image-4.jpg" alt="">
            <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
            <div class="producto-item__subtitle">
              <p class="producto-item__subtitle--price">$3,200</p>
              <p class="producto-item__subtitle--sale">$1,000</p>
            </div>
            <div class="producto-item__cart">
              <div>
                <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
                <button class="producto-item__cart--btn">Agregar al carrito</button> 
              </div>
            </div>
          </div>
  
          <div class="producto-item">
            <img class="producto-item__img" src="assets/images/pics/sm/item_image-5.jpg" alt="">
            <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
            <div class="producto-item__subtitle">
              <p class="producto-item__subtitle--price sale">$3,200</p>
              <p class="producto-item__subtitle--sale">$1,000</p>
            </div>
            <div class="producto-item__cart">
              <div>
                <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
                <button class="producto-item__cart--btn">Agregar al carrito</button> 
              </div>
            </div>
          </div>
  
        </div>
      </section>

    <h3 class="categories__title">Recámaras</h3>
    <section class="producto">
      <div class="producto__container">

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-0.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-1.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-2.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-3.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-4.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

        <div class="producto-item">
          <img class="producto-item__img" src="assets/images/pics/sm/item_image-5.jpg" alt="">
          <p class="producto-item__title">Mauris elementum. Lorem ipsum dolor.</p> 
          <div class="producto-item__subtitle">
            <p class="producto-item__subtitle--price sale">$3,200</p>
            <p class="producto-item__subtitle--sale">$1,000</p>
          </div>
          <div class="producto-item__cart">
            <div>
              <div class="producto-item__cart--img"><div class="icon icon-shopping-cart"></div></div> 
              <button class="producto-item__cart--btn">Agregar al carrito</button> 
            </div>
          </div>
        </div>

      </div>
    </section>  

    <footer>
      <div class="content">
        <div class="flex-grid">
          <div class="col">
            <div class="logo"><img class="img-logo" src="assets/images/icon-logotipo.svg"></div>
            <ul>
              <li><a href="">¿Quiénes somos?</a></li>
              <li><a href="">Términos de Uso</a></li>
              <li><a href="">Legales</a></li>
              <li><a href="">Directorio</a></li>
              <li><a href="">Login</a></li>
            </ul>
          </div>
          <div class="col">
            <h1>Servicio al cliente</h1>
            <ul>
              <li><a href="">Preguntas Frecuentes</a></li>
              <li><a href="">Contacto</a></li>
              <li><a href="">Formas de Pago</a></li>
              <li><a href="">Políticas de Privacidad</a></li>
              <li><a href="">Políticas de Envíos</li></li>
              <li><a href="">Devoluciones y Cancelaciones</a></li>
              <li><a href="">Términos y Condiciones</a></li>
            </ul>                            
          </div>
          <div class="col map"></div>
        </div>
      </div>
    </footer>           
  </main>
  <script>
    window.onscroll = function() {myFunction(), myFunction2()};
    
    var navbar = document.getElementById("navbar");
    var searchContainer = document.getElementById("searchContainer");
    var iconsContainer = document.getElementById("iconsContainer")
    var sticky = navbar.offsetTop;
    var stickySearch = searchContainer.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
        
      } else {
        navbar.classList.remove("sticky");
      }
    }
    function myFunction2() {
      if (window.pageYOffset >= stickySearch) {
        searchContainer.classList.add("sticky");
        iconsContainer.classList.add("sticky");
      } else {
        searchContainer.classList.remove("sticky");
        iconsContainer.classList.remove("sticky");
      }
    }            
  </script>

<script>
  function hideMenuElements() {
    var x = document.getElementById("main-menu");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>

</body>
</html>