<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Icons</title>
    <link rel="stylesheet" type="text/css" href="styles/icons.css">
</head>
<body>
    <i class="icon-brown"></i>
<i class="icon-cart"></i>
 <i class="icon-favorite"></i>
    <i class="icon-gray"></i>
    <i class="icon-left"></i>
    <i class="icon-logo-tiendita"></i>
    <i class="icon-logo2-tiendita"></i>
    <i class="icon-pie"></i>
    <i class="icon-right"></i>
    <i class="icon-search"></i>
    <i class="icon-truck"></i>
    <i class="icon-user"></i>
</body>
</html>