<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Tiendita - Login</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/iconos.css">
</head>
<body class="login"> 

    <section>
        <section class="header">
            <div class="logo"><img src="assets/images/icon-logotipo.svg"/></div>
        </section>
        <section class="login__container">
          <h2>Inicia sesión</h2>
          <form class="login__container--form">
            <input class="input" type="text" placeholder="Correo">
            <input class="input" type="password" placeholder="Contraseña">
            <button class="button">Iniciar sesión</button>
            <div class="login__container--remember-me">
              <label>
                <input type="checkbox" id="cbox1" value="first_checkbox">Recuérdame
              </label>
              <a href="/">Olvidé mi contraseña</a>
            </div>
          </form>
          <section class="login__container--social-media">
            <div><img src="assets/images/google-icon.png"> Inicia sesión con Google</div>
            <div><img src="assets/images/twitter-icon.png"> Inicia sesión con Twitter</div>
          </section>
          <p class="login__container--register">No tienes ninguna cuenta <a href="">Regístrate</a></p>
        </section>
        <section class="footer">
                <a href="/">Terminos de uso</a>
                <a href="/">Declaración de privacidad</a>
                <a href="/">Centro de ayuda</a>
        </section>
    </section>


</body>
</html>