<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Tiendita - SignUp</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/iconos.css">
</head>
<body class="signup"> 

    <section>
        <section class="header">
            <div class="logo"><img src="assets/images/icon-logotipo.svg"/></div>
        </section>
        <section class="signup__container">
          <h2>Crea tu cuenta</h2>
          <form>
            <input class="input" type="text" placeholder="Nombre">
            <input class="input" type="text" placeholder="Apellidos">
            <input class="input" type="email" placeholder="Correo">
            <input class="input" type="password" placeholder="Contraseña">
            <button class="button">Completar registro</button>
            <div>
              <label>
                <input type="checkbox" id="cbox1" value="promos_checkbox">Deseo recibir comunicaciones promocionales 
              </label><br/>
              <label>
                  <input type="checkbox" id="cbox2" value="privacidad_checkbox">Declaro que he leído y acepto la Política de Privacidad y los Términos y Condiciones de Uso
              </label>
            </div>
          </form>
        </section>

    </section>


</body>
</html>